
<header>
		<div class="header_logo">
		<div class="logo">
			<div><%=image_tag("logo.png")%></div>
		</div>
		</div>

		<div class="header_nav_bar">
			<div class="search"><input id="mysearch" type="search" placeholder="Rechercher"/></div>
		</div>
		
		<div class="header_liens">
		<div class="liens">
			<div><%=image_tag("fleche.png", size:"30")%></div>
			<div><%=image_tag("menu.png", size:"30")%></div>
			<div><%=image_tag("cloche.png", size:"30")%></div>
			<div><%=image_tag("profil.png", size:"30")%></div>			
		</div>
		</div>
		
</header>

<body>
	<div class="content">
		<div class="principal">
			<div class="video">
			<div><%=image_tag("video.png")%></div>				
			</div>
			<div class="titre_video">
			<h1>Janis Joplin - Summertime</h1>
				
			</div>
			<div class="likes">
			<div><%=image_tag("likes.png")%></div>
				
			</div>
			<div class="comments">
				
			</div>
		</div>
	<div class="proposition">
		<div class="proposition_img">
		<div><%=image_tag("proposition.png")%></div>
		<div><%=image_tag("proposition.png")%></div>
		<div><%=image_tag("proposition.png")%></div>
		<div><%=image_tag("proposition.png")%></div>
		<div><%=image_tag("proposition.png")%></div>
		<div><%=image_tag("proposition.png")%></div>
		<div><%=image_tag("proposition.png")%></div>
		<div><%=image_tag("proposition.png")%></div>

			
		</div>
	</div>
	</div>
</body>

