<body>
	<header>
		<div class="header_content">
			<div class="header_logo">
				<div class="logo">
					<div><%=image_tag("logo.png")%></div>
				</div>
			</div>

			<div class="header_nav_bar">
				<div class="search"><input id="mysearch" type="search" placeholder="Rechercher"/></div>
			</div>

			<div class="header_liens">
				<ul class="liens">
					<li><%=image_tag("fleche.png", size:"30")%></li>
					<li><%=image_tag("menu.png", size:"30")%></li>
					<li><%=image_tag("cloche.png", size:"30")%></li>
					<li><%=image_tag("profil.png", size:"30")%></li>			
				</ul>
			</div>
		</div>		
	</header>


	<div class="content">
		<div class="principal">
			<div class="video">
				<!--<div><%=image_tag("video.png")%></div>-->
				<iframe width="850" height="480" src="https://www.youtube.com/embed/iJb7cBfrxbo">
				</iframe>	
			</div>
			<div class="titre_video">
				<h1>Janis Joplin - Summertime</h1>
				
			</div>

			<div class="likes">
				<div><%=image_tag("likes.png")%></div>
			</div>

			<div class="channel">

				<div class="channel_data">

					
					<div class="img_channel_profil"><%=image_tag("profil.png")%></div>

					<div class="channel_info">
						<h2>(Insérer Nom de la chaine)</h2>
						<p>Ajoutée le (insérer date)</p>

						<div class="video_info">
				<table style="width:100%">

					<tr>
						<td>Catégorie</td>
						<td>Contenu catégorie</td> 
					</tr>
					<tr>
						<td>License</td>
						<td>Contenu license</td> 

					</tr>
					<tr>
						<td>Musique</td>
						<td>Contenu Musique</td> 

					</tr>
				</table>

			</div>
					</div>
				</div>
				<div class="abonnement">
					<div><button class="bouton">S'ABONNER <span class="nb_abonnes">130K</span></button></div>
				</div>
			</div>

			


			<div class="comments">
				<div class="commentaire">
					<div class="comment_profil">
						<div><%=image_tag("profil.png")%></div>
					</div>
					<div class="comment_content">
						<h3>Nom du commentateur</h3>
						<p>Accedat huc suavitas quaedam oportet sermonum atque morum, haudquaquam mediocre condimentum amicitiae. Tristitia autem et in omni re severitas habet illa quidem gravitatem, sed amicitia remissior esse debet et liberior et dulcior et ad omnem comitatem facilitatemque proclivior.</p>
					</div>
				</div>

				<div class="commentaire">
					<div class="comment_profil">
						<div><%=image_tag("profil.png")%></div>
					</div>
					<div class="comment_content">
						<h3>Nom du commentateur</h3>
						<p>Quam multa enim, quae nostra causa numquam faceremus, facimus causa amicorum! precari ab indigno, supplicare, tum acerbius in aliquem invehi insectarique vehementius, quae in nostris rebus non satis honeste, in amicorum fiunt honestissime; multaeque res sunt in quibus de suis commodis viri boni multa detrahunt detrahique patiuntur, ut iis amici potius quam ipsi fruantur.

						Duplexque isdem diebus acciderat malum, quod et Theophilum insontem atrox interceperat casus, et Serenianus dignus exsecratione cunctorum, innoxius, modo non reclamante publico vigore, discessit.</p>
					</div>
				</div>
				
			</div>
		</div>
		<div class="propositions">

			<div class="a_suivre">
				<div>À suivre</div>
				<div><%=image_tag("lecture.png")%></div>
			</div>

			<div class="liste">

			<!--<div class="proposition_img">
				<div><%=image_tag("proposition.png")%></div>
				<div><%=image_tag("proposition.png")%></div>
				<div><%=image_tag("proposition.png")%></div>
				<div><%=image_tag("proposition.png")%></div>
			</div>-->
			<div class="proposition">
				<div class="proposition_image"><div><%=image_tag("proposition_image.png")%></div></div>
				<div class="proposition_texte"><p><strong>Titre</strong></p><p>Artiste</p></div>
			</div>
			<div class="proposition">
				<div class="proposition_image"><div><%=image_tag("proposition_image.png")%></div></div>
				<div class="proposition_texte"><p><strong>Titre</strong></p><p>Artiste</p></div>
			</div>
			<div class="proposition">
				<div class="proposition_image"><div><%=image_tag("proposition_image.png")%></div></div>
				<div class="proposition_texte"><p><strong>Titre</strong></p><p>Artiste</p></div>
			</div>
			<div class="proposition">
				<div class="proposition_image"><div><%=image_tag("proposition_image.png")%></div></div>
				<div class="proposition_texte"><p><strong>Titre</strong></p><p>Artiste</p></div>
			</div>
			<div class="proposition">
				<div class="proposition_image"><div><%=image_tag("proposition_image.png")%></div></div>
				<div class="proposition_texte"><p><strong>Titre</strong></p><p>Artiste</p></div>
			</div>
			<div class="proposition">
				<div class="proposition_image"><div><%=image_tag("proposition_image.png")%></div></div>
				<div class="proposition_texte"><p><strong>Titre</strong></p><p>Artiste</p></div>
			</div>
			<div class="proposition">
				<div class="proposition_image"><div><%=image_tag("proposition_image.png")%></div></div>
				<div class="proposition_texte"><p><strong>Titre</strong></p><p>Artiste</p></div>
			</div>
			<div class="proposition">
				<div class="proposition_image"><div><%=image_tag("proposition_image.png")%></div></div>
				<div class="proposition_texte"><p><strong>Titre</strong></p><p>Artiste</p></div>
			</div>
			<div class="proposition">
				<div class="proposition_image"><div><%=image_tag("proposition_image.png")%></div></div>
				<div class="proposition_texte"><p><strong>Titre</strong></p><p>Artiste</p></div>
			</div>
		</div>
	</div>
</div>
</body>

